
.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(28, 30, 49);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    &_container{
        h2{
            color: white;
        }
    }
  }


  