@import url(https://fonts.gstatic.com/s/robotoslab/v34/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjovoSmYmRjRdE.woff2);

:root{

  --blue-theme-background-color : #20223d;/*background*/
  --blue-theme-main-color : #232cb1;/*main color*/
  --blue-theme-sub-text-color : #fafafa; /*text*/


}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html{
  font-size: 62.5%;
  height: 100%;
}

body{
  background: var(--blue-theme-background-color);
  height: 100%;
}

/* index.html */
#root{
  height: 100%;
}